{{> page_start title='Data test' }}
<div id="data-test"></div>
<button id="data-button">Get a question</button>
<hr />
<div id="difficulty"></div>
<div id="question"></div>
<form id="form-answers">
<div id="answers"></div>
</form>
<button id="check-answer-button">Check answer</button>
<div id="result"></div>
<script type="text/javascript" src="/assets/quizthing.js"></script>