{{> page_start title='Data test' }}
<div id="data-test"></div>
<button id="data-button">Get question data</button>
<hr />
<div id="difficulty"></div>
<div id="question"></div>
<div id="answers">
<form id="form-answers"></form>
<script type="text/javascript" src="/assets/quizthing.js"></script>