{{> page_start title='QuizThing!' }}
<h1>QuizThing!</h1>
<div id="difficulty-and-score">Difficulty: <div id="difficulty-value"></div>. Your score: <div id="questions-answered"></div>.</div>
<div id="question"></div>
<form id="form-answers">
<div id="answers"></div>
</form>
<button id="action-button">Check answer</button>
<div id="result"></div>

<script type="text/javascript" src="/assets/quizthing.js"></script>