body {
	margin: 1em;
}

#data-test {
	font-family: Consolas, "Courier New", Monaco, monospace;
	white-space: pre;
}

#difficulty {
	margin: 1em 0;
	text-transform: uppercase;
	font-style: italic;
}

#question {
	margin: 1em 0;
	font-weight: bold;
}