@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab|Fontdiner+Swanky');

body {
	margin: 1em;
}

div, button {
	font-family: 'Arbutus Slab', serif;
}

h1 {
	font-family: 'Fontdiner Swanky', serif;
	font-size: 2.5em;
}

#difficulty {
	margin: 1em 0;
	font-style: italic;
}

#difficulty-value {
	display: inline;
	font-weight: bold;
}

#question {
	margin: 1em 0;
	font-weight: bold;
}

button {
	background-color: #6cf;
	border-top: none;
	border-left: none;
	border-right-color: #eee;
	border-bottom-color: #eee;
	border-radius: 0.25em;
	margin: 1em 0 0 0;
	padding: 0.5em;
	font-size: 1.25em;
	font-weight: bold;
	text-shadow: 0.05em 0.05em 0 rgba(255, 255, 255, 1);
}

#result {
	margin: 1em auto;
	padding: 1em;
	border: 4px dashed #000;
	width: 50%;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
}